{% extends 'base.html' %}

{% block header %}{% endblock header %}


{% block style %}
    .form-control{
        width:100%;
        
    }
{% endblock style %}
{% block body %}

{% if user.is_authenticated %}
<h3><a href="{% url 'my-blog' %}">back</a></h3>
<h4>update post</h4>
 <form action="" method="post">
    {% csrf_token %}
   
        
    {{form.as_p}}
   

<button type="submit">submit</button>
 {% comment %}
 
<table>
 {{form.as_table}}
 </table>
 {% endcomment %}
{% endif %}

{% endblock body %}


